name: observatory-profile-workflow
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: point latest tag to latest commit
        uses: EndBug/latest-tag@latest
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            token: ${{ secrets.GITHUB_TOKEN }}
        with:
            # You can change the name of the tag or branch with this input.
            # Default: 'latest'
            ref: 'latest'
            # If a description is provided, the action will use it to create an annotated tag. If none is given, the action will create a lightweight tag.
            # Default: ''
            description: 'latest version of the observatory-profile.' 
            # Force-update a branch instead of using a tag.
            # Default: false
            force-branch: false
      - name: RO-Crate to Pages
        uses: vliz-be-opsci/rocrate-to-pages@latest
        with:
          multiple_rocrates: false
          RELEASE_management: true
          RELEASE_versioning: release #by major tag or by release
          INCLUDE_draft: true #include draft release which is the latest commit on the main branch 
          dataset_catalogue: false
          index_html: true #generate an index.html file for each rocrate
          draft_folder_name: latest #name of the folder for the draft release
          space_to_pages_homepage: https://data.emobon.embrc.eu
          base_uri: https://data.emobon.embrc.eu/observatory-profile
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./unicornpages


